/* Color
Peach:
Gold: 	#d5c68d
Turqoise:  #5cc8b6
green dark very: #3e4234
Green dark : #9ca683
Green 2: #bcc6a7
Dark: #142433
Light 1: #f5f3e6	
Light 2: #e4dec2
Pink: #ff6969

Fonts:
font-family: 'Indie Flower', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

p, li, h4, h5, input, button {
    font-family: 'Nanum Gothic', sans-serif;
}

.katyalova {
    font-family: 'Indie Flower', cursive;
    color: #ff6969 !important;
}

body, nav, .navbar .bg-light, .content, .about {
    background-color: white ;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    color: #ff6969 !important;
}

.active, footer span {
    color: #ff6969 !important;
}

.btn-primary {
background-color: #ff6969 !important;
outline: none;
border: none;
}

.btn-outline-primary {
    border: 1px solid #ff6969;
    color: #ff6969;
}

.btn-outline-primary:hover {
    background-color: #ff6969;
    border: none;
}


.welcome {
    background-image: url("https://images.unsplash.com/photo-1604484673711-8b3905b86920?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fGNhdCUyMGh1bWFufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
    height: 95vh;
}

.welcome-text-container {
    background-color: rgba(10, 25, 55, .2);
    height: 95vh;
}

.welcome-title {
    color: white;
    font-family: 'Indie Flower', cursive;
    margin-top: 15vh !important;
}

.welcome-text {
    color: white;
    font-size: 20px;
}

div.modal-content {
    width: 75vw;
}

.services h1 {
    font-family: 'Open Sans', sans-serif;
    color: #3e4234;
}

div.daycare-bg {
    background-image: url("https://images.unsplash.com/photo-1574858819445-747e591499b8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGNhdCUyMGh1bWFufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}

div.spa-bg {
    background-image: url("https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGNhdHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
}

div.clinic-bg {
    background-image: url("https://images.unsplash.com/photo-1594296671806-ad20299837d2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fGNhdCUyMGh1bWFufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
}

.services h4 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    position: relative;
    z-index: 2;
    top: -80px;
    font-size: 36px;
}

div.img-bg {
    height: 40vh;
    overflow: hidden;
    background-position: 50% 50%; background-size: cover;
}

.service-card button.btn-sm {
    font-size: 10px;
    border: none;
    border-bottom: 1 px solid gray !important;
}

.services div.img-bg:hover {
    background-size: cover;
    height: 42vh;
    filter: opacity(60%);
}

.services .img-bg:hover + .service-card h4 {
    top: -120px;
    filter: none;
    color: black
}

.hide {
    display: none;
}

.img-wrap {
    height: 100px;
}

.about-img-bg {
    height: 100px;
    position: relative;
}

.bg-1 {
    background-color: seashell;
    height: 200px;
    z-index: 3;
    bottom: 40px;
    top: 100px;
    left: 40px;
}

.bg-2 {
    width: 70%;
    height: 280px;
    z-index: 2;
    left: 150px;
    top: -160px;
    border: 1px solid #ff6969;
}

.about-img {
    width: 50%;
    height: auto;
}

.img-1 {
    position: relative;
    z-index: 5;
    left: 50px;
    top: -400px;
}

.img-2 {
    position: relative;
    z-index: 4;
    top: -450px;
    right: 40px;
}

.copy-wrap {
    padding: 0 100px;
}

.about span.kl{
    font-family: 'Indie Flower', cursive;
    color: #ff6969 !important;
    position: relative;
    z-index: 4;
    top: -25px;
    left: 40px;
}

.about li {
    list-style-type: none;
}

div.newsletter {
    width: 100vw;
    background-color: #fcf2ef;
    clear: both;
    z-index: 500;
    position: relative;
}

.form-inline {
    width: 600px;
    margin: 0 auto;
}

