/* Color
Pink: #ff6969
Seashell; #fff5ee

Fonts:
font-family: 'Indie Flower', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

body {
    font-family: 'Nanum Gothic', sans-serif;
}

body, nav, .navbar .bg-light, .content, .about {
    background-color: white ;
}

.katyalova {
    font-family: 'Indie Flower', cursive;
    color: #ff6969 !important;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    color: #ff6969 !important;
}

.active, .footer span {
    color: #ff6969 !important;
}

.btn-primary {
    background-color: #ff6969 !important;
    outline: none;
    border: none;
    transition-duration: 0.4s;
}

.btn-primary:hover, .btn-primary:visited, .btn-primary:active {
    background-color: white !important;
    outline: #ff6969 !important;
    border: 1px solid #ff6969 !important;
    color: #ff6969 !important;
}

.btn-outline-primary {
    border: 1px solid #ff6969;
    color: #ff6969;
    transition-duration: 0.4s;
}

.btn-outline-primary:hover, .btn-outline-primary:visited, .btn-outline-primary:active {
    background-color: #ff6969 !important;
    border: none !important;
}

.dropdown-item:hover {
    background-color: seashell;
}

/* Welcome */

.welcome {
    background-image: url("https://images.unsplash.com/photo-1604484673711-8b3905b86920?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fGNhdCUyMGh1bWFufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
    height: 95vh;
}

.welcome-text-container {
    background-color: rgba(10, 25, 55, .2);
    height: 95vh;
}

.welcome-title {
    color: white;
    font-family: 'Indie Flower', cursive;
    margin-top: 15vh !important;
}

.welcome-text {
    color: white;
    font-size: 20px;
}

div.modal-content {
    width: 75vw;
}

/* About */

.about .card {
    box-shadow: 0px 20px 40px rgb(0 0 0 / 10%);
    border: none;
    max-width: 300px;
}

.about .fa {
    font-size: 28px !important;
    color: #ff6969 !important;
}

/* Testimonials  */

.social-proof {
    background-color: none !important;
}

.social-proof .card {
    border: none;
}

.fa-star {
    font-size: 28px !important;
    color: #ff6969 !important;
}

.card-header {
    background-color: white;
    border-bottom: none;
    margin-bottom: none !important;
}

.card-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover
}

/* Newsletter */

.newsletter .btn-primary:hover {
    background-color: seashell !important;
}

div.newsletter {
    width: 100vw;
    background-color: #fcf2ef;
    clear: both;
    z-index: 500;
    position: relative;
}

.form-inline {
    max-width: 600px;
    margin: 0 auto;
}


/* Book Daycare */

.book-cta {
    background-color: white !important;
}

.book-cta .card {
    box-shadow: 0px 20px 40px rgb(0 0 0 / 10%);
    border: none;
    max-width: 800px;
}

/* Footer */

.footer {
    font-size: 14px;
    background-color: seashell !important;
}

.footer-links a {
    display: block;
    color: #212529;
    text-decoration: none;
}

.footer .fa {
    font-size: 24px;
    transition-duration: 0.4s;
}

.footer .fa:hover, .footer-links a:hover {
    color: #ff6969 !important;
    
}


/******** About Page ********/

.about-us {
    background-color: seashell;
}

.about-img {
    width: 500px;
    max-height: 500px;
    object-fit: cover;
}

.team-img {
    width: 300px;
    max-height: 300px;
    object-fit: cover;
}


/******** Contact Page ********/

.form-contact {
    max-width: 800px;
}

.fa-envelope {
    font-size: 48px !important;
    color: #ff6969 !important;
}

.form-contact .form-control:focus {
    border: 1px solid #ff6969 !important;
}


/******** Blog Page ********/

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.blog-thumbnails img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.blog-header {
    background-color: seashell;
}

.blog-header button:hover {
    background-color: seashell !important;
}

.blog-archive .card {
    box-shadow: 0px 20px 40px rgb(0 0 0 / 10%);
    border: none;
}

.blog-archive img {
    object-fit: cover;
}

.blog-title {
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 20px;
    color: #ff6969;
}