.todo-wrap {
width: 80vw;
}

.item {
    list-style-type: none;
    background-color: whitesmoke;
    padding: 5px 0;
    text-align: left;
}

.checkbox:hover {
    text-decoration: line-through;
    background-color: slategray;
}

.btn {
    width: 80px;
}
.delete-button {
    float: right;
    border: none;
    outline: none;
    background-color: #ff6969;
}

.item:hover {
    color: slategray;
    text-decoration: line-through;
}

.checked {
    color: dodgerblue !important;
    font-weight: bold;
}

.checked:hover {
    text-decoration: none;
}

input[type="checkbox"] {
    width: 20px !important;
    height: 20px !important;
    margin: 5px;
    box-shadow: none;
    font-size: 2em;
}